<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>面审问卷</title>
		<link rel="stylesheet" type="text/css" href="style/css.css" />
	</head>
	<body>
		<form action="" method="">
			<section class="fomr-bg"><img src="images/head_bg.png" /></section>
			<section>
				<section class="form-main">
					<h2 class="title">
						您仅需提供<span class="title-span">以下信息</span>
					</h2>
					<section class="form-input">
						<span class="form-input-info">公司名称</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">公司人数</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">公司职位</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">公司地址</span> <input type="text" name="" id="" value="" />
					</section>
				</section>
				<section class="form-main-border">
					<span class="form-border-1 form-border"><img src="images/form_border.png" alt=""></span>
                    <span class="form-border-2 form-border"><img src="images/form_border.png" alt=""></span> 
                    <span class="form-border-3 form-border"><img src="images/form_border.png" alt=""></span>
					<span class="form-border-4 form-border"><img src="images/form_border.png" alt=""></span>
					<section class="form-main">
						<h2 class="title">
							您仅需提供<span class="title-span">以下信息</span>
						</h2>
						<section class="form-input">
							<span class="form-input-info">收入情况</span> <input type="text" name="" id="" value="" />
						</section>
						<section class="form-input">
							<span class="form-input-info">家庭收入</span> <input type="text" name="" id="" value="" />
						</section>
						<section class="form-input">
							<span class="form-input-info">预计借款额度</span> <input type="text" name="" id="" value="" />
						</section>
						<section class="form-input">
							<span class="form-input-info">其它固定资产</span> <input type="text" name="" id="" value="" />
						</section>
						<section class="form-input">
							<span class="form-input-info">有无担保人</span> <input type="text" name="" id="" value="" />
						</section>
					</section>
				</section>

				<section class="form-main">
					<h2 class="title">
						您仅需提供<span class="title-span">以下信息</span>
					</h2>
					<section class="form-input">
						<span class="form-input-info">负债情况</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">是否正常还款</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">是否为他人担保</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">被担保人</span> <input type="text" name="" id="" value="" />
					</section>
					<section class="form-input">
						<span class="form-input-info">担保金额</span> <input type="text" name="" id="" value="" />
					</section>
				</section>
			</section>
		</form>
	</body>
</html>
