<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.antifraud.dao.PopedomDao" >
	<!-- 查询全部 -->
	<select id="findAll" resultType="com.antifraud.entity.Popedom">
		select popedom_url from t_popedom
	</select>
	
	<!-- 根据角色查询权限 -->
	<!-- <select id="findByUser" resultType="java.lang.Long">
		select r.*
		from t_popedom_role pr
		join t_popedom p on pr.popedom_id = p.pid
		join t_role r on pr.role_id = r.c_id
		where r.id=${id}
	</select>
	 -->
	<!--根据用户id查询权限 -->
	<!--Popedom findPopedomByUserId(Long id);  -->
	<select id="findPopedomByUserId" resultType="com.antifraud.entity.Popedom">
		select
			p.*
		from t_user u 
			 join t_user_popedom up on u.id = up.user_id
			 join t_popedom p on up.popedom_id = p.pid
		where u.id=#{id}
	</select>
	
	<!-- 根据用户id删除所有权限 -->
	<!-- int deletePopedomById(Long id); -->
	<delete id="deletePopedomById" >
		delete from t_user_popedom  where user_id=#{id}
	</delete>
	
	<!-- 根据用户id添加权限-->
	<!-- int addPopedomById(UserPopedom userPopedom); -->
	<insert id="addPopedomById" parameterType="com.antifraud.entity.UserPopedom">
		insert into
			t_user_popedom(
				id,
				user_id,
				popedom_id,
				update_time,
				create_time
				
			)values(
				null,
				#{user_id},
				#{popedom_id},
				#{update_time},
				#{create_time}
			)
	</insert>
	
</mapper>



















